<!DOCTYPE html>
<html>
  <head>
    <title>Login Page</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Homepage</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in fringilla ligula, et malesuada justo. Vestibulum auctor urna non mi dignissim, ut lobortis velit commodo. Fusce lacinia sem nec purus condimentum varius. Aliquam in neque eu sem dignissim vulputate. Sed ut urna ligula. Pellentesque sed justo vel mauris tristique commodo a non mi. Sed dapibus euismod mi, a rutrum ipsum aliquet id.</p>
      <div>
        <img src="background.jpg" alt="Debug Image" id="debug-image">
        <p id="debug-text">Image is not rendering correctly.</p>
      </div>
      <form action="/login/discord" method="GET">
        <button type="submit" class="login-button">Login with Discord</button>
      </form>
    </div>
  </body>
</html>
