body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button {
  padding: 12px 30px;
  background-color: #7289DA;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #5C6BC0;
}
