body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url('https://i.imgur.com/r4WWYN2.jpg');
  background-size: cover;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.menu-icon {
  display: block;
  cursor: pointer;
  padding: 10px;
  background-color: #000; /* Change the background color to black or any other desired color */
}

.menu-icon span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff; /* Change the color of the hamburger lines to white or any other desired color */
  margin-bottom: 5px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown.show .dropdown-content {
  display: block;
}

.profile-info {
  margin-top: 30px;
}

.debug-info {
  font-weight: bold;
  margin-bottom: 10px;
}

.debug-info span {
  font-weight: normal;
}
