<!-- server-details.ejs -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Server Details</title>
</head>
<body>
  <h1><%= server.name %></h1>
  <p><%= server.description %></p>
</body>
</html>
